@model IEnumerable<Assignment_02.Models.Product>

@{
    ViewData["Title"] = "產品維護";
}

<h2>產品維護</h2>

<table class="table">
    <thead>
        <tr>
            <th>產品ID</th>
            <th>名稱</th>
            <th>顏色</th>
            <th>產品編號</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Color</td>
                <td>@item.ProductNumber</td>
                <td>
                    <!--使用 <a> 標籤時，預設情況下會使用 GET 方法來發送請求。這是因為 HTML 的超連結（<a> 標籤）本身就是用來發送 GET 請求的。-->
                    <a asp-action="Edit" asp-route-id="@item.ProductID">編輯</a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.ProductID">產品細節</a>
                </td>
            </tr>
        }
    </tbody>
</table>




